<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define SamenSterkOffline_TargetDir=$(var.SamenSterkOffline.TargetDir)?>
	<Product Id="c7055d15-c760-4e59-8745-e5851bac65ab" Name="Samen Sterk Weekplanner (offline)" Language="1033" Version="1.0.25.0" Manufacturer="Samen Sterk" UpgradeCode="12267881-d4cb-4125-b8cc-e6775b5c952f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<WixVariable Id="WixUIBannerBmp" Value="Images\installer_top-banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="Images\installer_background.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<UIRef Id="WixUI_InstallDir" />
		
		<MajorUpgrade DowngradeErrorMessage="Een nieuwere versie van [ProductName] is al geinstalleerd." />
		<MediaTemplate EmbedCab="yes"/>
		
		<Feature Id="ProductFeature" Title="Weekplanner (offline)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Samen Sterk">
					<Directory Id="OfflineWeekplanner" Name="Offline Weekplanner" />
				</Directory>
			</Directory>
			
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Samen Sterk" />
			</Directory>
			
			<Directory Id="DesktopFolder" Name="Desktop" />
			
		</Directory>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="436bba8c-d008-4e39-a860-363f1ca03229">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Weekplanner (offline)" Description="Weekplanner (offline)" Target="[INSTALLFOLDER]/Offline Weekplanner/SamenSterkOffline.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="147c0f8e-83e9-40f8-9197-7e9bcf49414c">
				<Shortcut Id="ApplicationDesktopShortcut" Name="Samen Sterk weekplanner (offline)" Description="Samen Sterk weekplanner (offline)" Target="[INSTALLFOLDER]/Offline Weekplanner/SamenSterkOffline.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>		
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="OfflineWeekplanner">
			<Component Id="SamenSterkOffline.exe" Guid="36a8a78a-49b5-4451-a2d3-95e372030830">
				<File Id="SamenSterkOffline.exe" Name="SamenSterkOffline.exe" Source="$(var.SamenSterkOffline_TargetDir)SamenSterkOffline.exe" />
			</Component>
			<Component Id="SQLite_net.dll" Guid="36689207-9ad5-4044-838d-f6696ce18cce">
				<File Id="SQLite_net.dll" Name="SQLite-net.dll" Source="$(var.SamenSterkOffline_TargetDir)SQLite-net.dll" />
			</Component>
			<Component Id="e_sqlite3.dll" Guid="54cd52d9-7397-4e12-8dfc-ecf8a12c2749">
				<File Id="e_sqlite3.dll" Name="e_sqlite3.dll" Source="$(var.SamenSterkOffline_TargetDir)x86/e_sqlite3.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.batteries_green.dll" Guid="f3c78bd5-9c6a-4400-9b46-fdca282a66f1">
				<File Id="SQLitePCLRaw.batteries_green.dll" Name="SQLitePCLRaw.batteries_green.dll" Source="$(var.SamenSterkOffline_TargetDir)SQLitePCLRaw.batteries_green.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.batteries_v2.dll" Guid="ae81c2d6-7829-4353-b352-68863e171952">
				<File Id="SQLitePCLRaw.batteries_v2.dll" Name="SQLitePCLRaw.batteries_v2.dll" Source="$(var.SamenSterkOffline_TargetDir)SQLitePCLRaw.batteries_v2.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.provider.e_sqlite3.dll" Guid="d39f6bd0-c3ad-40d6-bf66-29abaf93c526">
				<File Id="SQLitePCLRaw.provider.e_sqlite3.dll" Name="SQLitePCLRaw.provider.e_sqlite3.dll" Source="$(var.SamenSterkOffline_TargetDir)SQLitePCLRaw.provider.e_sqlite3.dll" />
			</Component>
			<Component Id="SQLitePCLRaw.core.dll" Guid="808899ba-7dc2-4d67-9929-b656fa86a88a">
				<File Id="SQLitePCLRaw.core.dll" Name="SQLitePCLRaw.core.dll" Source="$(var.SamenSterkOffline_TargetDir)SQLitePCLRaw.core.dll" />
			</Component>
			<Component Id="System.Runtime.InteropServices.RuntimeInformation.dll" Guid="d053a6f3-10bc-4d7a-9e30-5527dc022f5a">
				<File Id="System.Runtime.InteropServices.RuntimeInformation.dll" Name="System.Runtime.InteropServices.RuntimeInformation.dll" Source="$(var.SamenSterkOffline_TargetDir)System.Runtime.InteropServices.RuntimeInformation.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
